 * {
   overflow-x: hidden;
   margin: 0;
   padding: 0;
 }

 .backgroundImage {
   background-image: url('../images/background.jpeg');
   width: 100vw;
   height: 100vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: Roboto;
   background-attachment: fixed;
 }

 #about {
   padding-top: 2em;
 }

 #about>div>h4 {
   padding: 6px;
 }

 h1 {
   padding-top: 6em;
   font-size: 3em;
   font-weight: 400;
 }

 .carousel-item {
   width: 50%;
   margin: auto 0;
 }

 .section-projects {
   background-color: lightseagreen;
 }

 #carouselIndicators>div>div:nth-child(3) {
   margin: auto;
 }

 .lead {
   margin: auto;
 }

 .testimonial {
   height: 70vh;
   font-size: 1em;
   color: white;
   padding: 2em;
 }

 .testimonial-section>h4 {
   padding-top: 1em;
   color: white;
 }

 #projects>h3 {
   padding: 10px;
 }

 #projects {
   padding-bottom: 5em;
 }

 .testimonial-section {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #1a1a1a;
 }

 #firstname {
   margin-bottom: 1rem;
 }

 .rounded-circle {
   border: 1px solid gray;
 }

 .weather-section {
   background: #1a1a1a;
   width: 100vw;
   height: 70vh;
 }

 .weather-section>h2 {
   color: white;
   font-size: 50px;
 }

 #weather>div>h6 {
   color: white;
   text-align: center;
 }

 #contact {
   margin-bottom: 1rem;
 }


 .footer-section {
   background-color: #1a1a1a;
   height: 80px;
 }

 .footer-section a {
   font-size: 30px;
 }

 .backToTop {
   color: white;
 }

 .carousel-item img {
   width: 100%;
 }

 .temp {
   font-size: 25px;
 }